image: rust:latest

definitions:
  caches:
    cargo:
      key:
        files:
          - Cargo.lock
      path: /usr/local/cargo/registry
    cargo-bin:
      key:
        files:
          - scripts/deny.sh
      path: /usr/local/cargo/bin
    rust-target:
      key:
        files:
          - "**/*.rs"
          - "*.toml"
      path: target
    rustup-nightly:
      key:
        files:
          - scripts/fmt.sh
      path: /usr/local/rustup/toolchains

pipelines:
  branches:
    master:
      - step:
          caches:
            - cargo
            - cargo-bin
            - rust-target
            - rustup-nightly

          script:
            - echo "Rust version:"                    ; cargo --version
            - echo "Build project"                    ; cargo build --release
            - echo "Format source code"               ; ./scripts/fmt.sh --ci
            - echo "Check HashMap/Set usage"          ; ./scripts/hash.sh --ci
            - echo "Run Clippy"                       ; ./scripts/clippy.sh --ci
            - echo "Run cargo-deny"                   ; ./scripts/deny.sh --ci
            - echo "Run unit tests"                   ; cargo test --lib --release -v --no-fail-fast
            - echo "Run integration tests"            ; cargo test --test '*' --release -v --no-fail-fast

  pull-requests:
    '**':
      - step:
          caches:
            - cargo
            - cargo-bin
            - rust-target
            - rustup-nightly

          script:
            - echo "Rust version:"                    ; cargo --version
            - echo "Build project"                    ; cargo build --release
            - echo "Format source code"               ; ./scripts/fmt.sh --ci
            - echo "Check HashMap/Set usage"          ; ./scripts/hash.sh --ci
            - echo "Run Clippy"                       ; ./scripts/clippy.sh --ci
            - echo "Run cargo-deny"                   ; ./scripts/deny.sh --ci
            - echo "Run unit tests"                   ; cargo test --lib --release -v --no-fail-fast
            - echo "Run integration tests"            ; cargo test --test '*' --release -v --no-fail-fast
