[workspace]
dependencies_update = true
semver_check = true

# Do not always publish packages. Instead only release when a release-pr has been merged.
release_always = false

repo_url = "https://github.com/consol-lab/pumpkin"

pr_name = "chore: Release packages"
pr_labels = ["release"]

[changelog]
header = """# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.0.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).

"""
