[package]
name = "drcp-format"
version = "0.3.1"
description = "Parse and write DRCP and literal definition files."
license.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
thiserror = "2.0.12"
